<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Become a Member</h1>
    <form action="/become-member" method="POST">
        <label for="password">Enter Membership Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Submit</button>
    </form>
    <a href="/">Home page</a>
</body>
</html>
